/**
 * Project theme
 *
 * Always use colors as variables
 */

// project colors
$color1 = #00a651;
$color2 = #626469;
$color3 = #f3f3f3;
$color4 = #4fa600;
$color5 = #ffd100;

$bg-body = $color1;
$bg-header = $color1;
$bg-sidebar = $color2;
$bg-content = $color3;
$text-green = $color4;
$fav-yellow = $color5;

// shades of grey
$grey1 = #626469;
